{% extends "manage/layout.html" %}
{% block title %}网站管理-管理后台{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="padding: 15px;">
        <blockquote class="layui-elem-quote">


            <a href="/manage/site_add" class="layui-btn">
                <i class="layui-icon">&#xe608;</i> 添加网站
            </a>
            <a href="/manage/site_add_batch" class="layui-btn">
                <i class="layui-icon">&#xe608;</i> 批量添加网站
            </a>
            <a class="layui-btn layui-btn-normal" href="/manage/site_generate_batch">一键生成所有网站html</a>
        </blockquote>

        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>网站列表</legend>
        </fieldset>
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>网站标题</th>
                    <th>模版</th>
                    <th>域名</th>
                    <th>服务器</th>
                    <th>描述</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for site in site_list %}
                    <tr>
                        <td>{{ site.title }}</td>
                        <td>{{ site.template_title }}（{% if site.type == 0 %}单页面{% else %}多页面{% endif %}）</td>
                        <td>{{ site.domain }}</td>
                        <td>{{ site.host }}</td>
                        <td>{{ site.description }}</td>
                        <td>
                            {% if site.is_generated == 1 %}
                                <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-disabled">已生成</a>
                                {% if site.is_released == 1 %}
                                    <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-disabled">已发布</a>
                                {% else %}
                                    <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-disabled">未发布</a>
                                {% endif %}
                            {% else %}
                                <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-disabled">未生成</a>
                            {% endif %}


                        </td>
                        <td>
                            <div class="layui-btn-group">
                                {% if site.is_generated == 1 %}
                                    <a href="/manage/site_generate/{{ site.id }}"
                                       class="layui-btn layui-btn-sm layui-btn-normal">重新生成Html</a>
                                    {% if site.is_released == 1 %}
                                        <a href="#" class="layui-btn layui-btn-sm layui-btn-warm">发布更新</a>
                                    {% else %}
                                        <a href="/manage/site_publish/{{ site.id }}"
                                           class="layui-btn layui-btn-sm layui-btn-warm">发布网站</a>
                                    {% endif %}
                                {% else %}
                                    <a href="/manage/site_generate/{{ site.id }}"
                                       class="layui-btn layui-btn-sm layui-btn-normal">生成Html</a>
                                {% endif %}


                                {#                                  <button class="layui-btn layui-btn-sm layui-btn-danger">删除</button>#}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}